<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://bootswatch.com/3/darkly/bootstrap.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <title>About</title>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand" href="/">Arshiya challana</span>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/blog">Blog</a></li>
          <li class="active"><a href="/about">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/posts">Post</a></li>
          <li><a href="/categories">Categories</a></li>
        </ul>
      </div>
      </div>
  </nav>
  <div class="container" style="padding-top:60px">
    <div class="row">
      <section class="main col-md-9">
        <article>
          <h2>About</h2>
          <p>I'm now enrolled in Seneca College's two-year diploma program in computer programming.</p>
          <p>I enjoy exploring new places, trying local cuisine, and meeting new people.</p>
          <p>I belive that the more I socialise the more I learn .</p>
          <p>The jewellery industry is another area I'm becoming interested in these days because I work at Michael Hill Jewellers.</p>
          <p>My ultimate ambition in life is to become a prosperous entrepreneur and start my own jewellery business.</p>
        </article>
      </section>
      <aside class="col-md-3">
        <h2>Coming Soon</h2>
        <p class="p-italic">Stay tuned for future updates…</p>
      </aside>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>

</html>